/* $Id: layout.css,v 1.1.2.11.2.3 2010/04/21 14:17:09 psynaptic Exp $ */

/* Layout */

.limiter {
  width: 940px;
  margin: 0 auto;
  padding: 10px 0;
}

.sidebar {
  width: 220px;
}

#left {
  margin-right: 20px;
  float: left;
}

#right {
  margin-left: 20px;
  float: right;
}

.one-sidebar #content {
  width: 700px;
}

.two-sidebars #content {
  width: 460px;
}

.no-sidebars #content {
  float: none;
}

.sidebar-right #content,
.two-sidebars #content {
  float: left;
}

.sidebar-left #content {
  float: right;
}


.header
{

}



.tshirt-logo
{
text-align: center;

}



.node-type-product h1
{display:none}

.node-type-product .node-submitted
{
display: none;
}

.node-type-product .product-body
{
display: none;
}

.node-type-product .product-info {display: none;}


.node-type-product .form-item .form-item {
 	 float: left;
    margin-bottom: 0.4em;
    margin-right: 3em;
    margin-top: 0.4em;
}

.node-type-product .form-radios
{

}


#edit-buy-now
{
    -moz-border-radius: 14px 14px 14px 14px;
    background: none repeat scroll 0 0 #F7911A;
    border: 1px solid;
    color: white;
    font-size: 2em;
    font-weight: bold;
    width: 300px;
}

.add-to-cart
{
clear: both;
text-align: center;
}


.attributes
{
    height: 34px;
    margin: 0 auto;
    text-align: center;
    width: 501px;
}

.attributes  label
{
display: none;
}


#uc-product-add-to-cart-form-2 div
{

}


